/* 初始化CSS  重置浏览器样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; } /*为了照顾ie6 链接图片有边框*/
img{display: block;}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle; }
 select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
body {font-size:12px; color:#999;font-family:"宋体"; background:#f8f8f8;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a { color:#999; text-decoration:none; }

a:hover { color:#ff6400; text-decoration:none; }
/*header start*/
.header{
	width:100%;
	height:108px;
	background:#f8f8f8;
}
.header_inner{
	width:1000px;
	height:108px;
	margin:0 auto;
	background:#f8f8f8;
}
.logo{
	width:120px;
	height:101px;
}
.logo a{
	width:120px;
	height:101px;
	display:block;
	text-indent:-2000em;
}
.user_btn{
	width:100px;
	height:26px;
	font-size:14px;
	float:right;
	color:#040404;
	font-weight: bold;
	margin-top:-46px;
	text-align:center;
	line-height:26px;
	
}
.user_btn span a{
	color:#1b1b1b;
	font-weight: bold;
	}	
.user_btn span a:hover{
	color:#FFF;
}
/*header stop*/
/*nav start*/
.nav{
	width:100%;
	height:50px;
	background:#1b1b1b;
}
.nav_inner{
	width:1000px;
	height:50px;
	margin:0 auto;
	}
.nav li{
	float:left;
	font-size:14px;
	font-weight:bold;
}
.nav_inner li a{
	font-size:14px;
	font-weight:bold;
	padding:0 15px;
	width:100px;
	display:inline-block;
	text-align:center;
	line-height:50px;
	
	height:50px;
	color:#fff;
}
.nav_inner li a:hover{
	background:#f8f8f8;
	color:#040404;
}
.nav_inner li .shouye{
	background:#f8f8f8;
	color:#040404;
}
/*nav stop*/
/*banner start*/
.banner{
	margin:0 0 0 0;;
	width:1920px;
	height:300px;
	background: url(../image/banner4.jpg) no-repeat;
	}
/*banner stop*/

/*petfocus start*/
.pelfocus{
	width:1000px;
	height:476px;
	margin:0 auto;
	margin-top:36px;
	background:#fff;
	position:relative;
}
.pelfocus_inner{
	width:1000px;
	height:470px;
	background:#fff;
	margin-top:14px;
	
}
.pelfocus_img{
	width:512px;
	height:460px;
	
	margin-left:24px;
	margin-top:20px;
}
.pelfocus_img li{
	margin-top:20px;
	width:250px;
	height:200px;
	float:left;
	}
.pelfocus_img li:hover{ cursor:pointer;}
.lef{ margin-left:10px;}
.pelfocus_img li p{ font-size:14px; font-weight:bold; line-height:14px; color: #040404; text-align:center; margin-top:10px;}
.pelfocus_ul ul{
	float: right;
	position:absolute;
	top:20px;
	right:24px;
	width:440px;
	height:380px;
	
}
.pelfocus_ul ul li{
	
	border-bottom:#dad6d6 solid 1px;
	width:420px;
	height:30px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:10px;

	}
.pelfocus_ul ul li a,.pelfocus_ul ul li span{
	color:#625d5d;
	font-size:14px;
	line-height:30px;
	font-family:"微软雅黑";
	}
.pelfocus_ul ul li span{ float:right; margin-right:;}
.pelfocus_ul ul li a:hover{color:#010101;}

/*petfocus stop*/
/*footer start*/
.footer{
	width:100%;
	height:150px;
	background:#1b1b1b;
}
.footer_inner{
	width:1000px;
	height:120px;
	margin:0 auto;
	padding-top:30px;
}
.footer_inner p{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	padding-top:10px;
	line-height:18px;
}
/*footer stop*/