*{ margin:0; padding:0; list-style:none;}
/*按钮背景色#ee2222*/
body{ font-family:"黑体","微软雅黑"; font-size:18px; color:#333;}
input{ border:0; font-size:16px;}
a{ text-decoration:none; color:#ffffff;}
#zc{ width:500px; height:720px; margin:0 auto; border:1px solid #CCC; margin-top:20px; margin-top:100px;}
.zc_only{
	width:420px; height:54px; border:1px solid #CCC; margin:0 auto; margin-top:40px; padding:10px 0 0 20px;}
.zc_only span{ height:46px; line-height:46px;}
.zc_text{ width:280px; height:46px; float:right; margin-right:16px; line-height:46px;}	
.zc_only1{ width:400px; height:54px; background-color:#1b1b1b; color:#FFF; text-align:center; margin:0 auto; margin-top:20px;}
.zc_only1_1{ margin-top:20px; height:54px; line-height:54px;}
.zc_only2{ width:420px; height:54px; line-height:54px; text-align:center; padding-left:50px; padding-top:10px;}
